<% include head.ejs %>
<body>
    <button class="btn"><a href="/">Back</a></button>
    
    <table id="example" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>DBtime</th>
                <th>unixtime</th>
                <th>hex</th>
                <th>squawk</th>
                <th>flight</th>
                <th>lat</th>
                <th>lon</th>
                <th>nucp</th>
                <th>seen_pos</th>
                <th>altitude</th>
                <th>vert_rate</th>
                <th>track</th>
                <th>speed</th>
                <th>category</th>
                <th>messages</th>
                <th>seen</th>
                <th>rssi</th>
                <th>node_number</th>
                
            </tr>
        </thead>
        <tbody class="tabody">
            
        </tbody>
    </table>
    <button class="btn" style="float : right"><a href="/">Back</a></button>
</body>
<script>
    var json = '<%- JSON.stringify(data) %>'
    console.log(json);
    json = JSON.parse(json);
    var str="";
    for(var i=0;i<json.length;i++){
        str += "<tr>"+
                "<td>" + json[i].date + "</td>"+
                "<td>" + json[i].unixtime + "</td>"+
                "<td>" + json[i].hex + "</td>"+
                "<td>" + json[i].squawk + "</td>"+
                "<td>" + json[i].flight + "</td>"+
                "<td>" + json[i].lat + "</td>"+
                "<td>" + json[i].lon + "</td>"+
                "<td>" + json[i].nucp + "</td>"+
                "<td>" + json[i].seen_pos + "</td>"+
                "<td>" + json[i].altitude + "</td>"+
                "<td>" + json[i].vert_rate + "</td>"+
                "<td>" + json[i].track + "</td>"+
                "<td>" + json[i].speed + "</td>"+
                "<td>" + json[i].category + "</td>"+
                "<td>" + json[i].messages + "</td>"+
                "<td>" + json[i].seen + "</td>"+
                "<td>" + json[i].rssi + "</td>"+
                "<td>" + json[i].node_number + "</td>"+ 
            "</tr>";
    }
    $(".tabody").append(str);
</script>

</html>